.check {
  position: fixed;
  top: 2%;
  left: 23%;
  width: 820px;
  height: 720px;
  background: #fff;
  overflow-y: scroll;
  padding: 30px 110px;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }
  h1 {
    color: #868889;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
    letter-spacing: 0.6px;
  }

  &--text {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 30px;
    }

    h3 {
      color: #181818;
      font-size: 32px;
      font-weight: 600;
    }
  }

  &--group {
    &__block {
      align-items: center;
      justify-content: space-between;
      display: flex;
      width: 81%;
      &--child {
        input {
          width: 309px;
          height: 66px;
          border-radius: 10px;
          border: 1.992px solid #181818;
          background: #FFF;
        }
      }
    }
    &--phone {
      input {
        width: 661px;
        height: 66px;
        border-radius: 10px;
        border: 1.992px solid #181818;
        background: #FFF;
      }
    }
    &--address {
      &--in {
        align-items: center;
        justify-content: space-between;
        display: flex;
        width: 81%;
      }
      input {
        width: 205.31px;
        height: 66px;
        border-radius: 10px;
        border: 1.992px solid #181818;
        background: #FFF;
        &::placeholder {
          color: #C4C4C4;
          font-size: 20px;
          text-align: center;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.6px;
        }
      }
    }
    &--delivery {
      &__child {
        &--l {
          width: 662px;
          height: 220px;
          border-radius: 10px;
          border: 1.992px solid #181818;
          background: #FFF;
          color: #000;
          display: flex;
          align-items: center;
          justify-content: center;
          &__m {
            padding: 10px;
            width: 598px;
            height: 179px;
            border-radius: 4px;
            opacity: 0.5;
            background: var(--blue-blue-2, #1660CF);
            h1 {
              color: #000;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              letter-spacing: 0.54px;
            }
            p {
              color: var(--stroke, #ACACAC);
              font-size: 12.923px;
              font-style: normal;
              font-weight: 500;
              line-height: 15.795px; /* 122.222% */
              letter-spacing: 0.388px;
            }
            input {
              width: 544px;
              height: 47.385px;
              flex-shrink: 0;
              padding-left: 10px;
              margin: 10px 0;
              border-radius: 7.18px;
              border: 1.43px solid #181818;
              background: #FFF;
            }
            span {
              color: #868889;
              font-size: 14.359px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              letter-spacing: 0.431px;
            }
          }
        }
        margin: 10px 0;
        &--inputs {
          display: flex;
          input {

          }
          p {
            margin: 5px 10px;
            color: #181818;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 0.6px;
          }
        }
      }
    }
    &--com {
      input {
        width: 661px;
        height: 66px;
        border-radius: 10px;
        border: 1.992px solid #181818;
        background: #FFF;
      }
    }
  }

  &--fin {
    padding: 20px;
    width: 76%;
    height: 352px;
    border-radius: 10px;
    border: 1.992px solid #181818;
    background: #FFF;
    &__bas {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        color: #181818;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      p {
        padding: 15px 0;
        color: #868889;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      h4 {
        color: #6CC51D;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}
.datas {
  width: 289px;
  height: 46px;
  border-radius: 10px;
  border: 1.992px solid #181818;
  background: #FFF;
  padding: 10px;
}
.check--s {
  input {
    margin: 10px;
    width: 205.31px;
    height: 66px;
    border-radius: 10px;
    border: 1.992px solid #181818;
    background: #FFF;
    &::placeholder {
      color: #C4C4C4;
      font-size: 20px;
      text-align: center;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.6px;
    }
  }
}
