#productlist{
  position: fixed;
  z-index: 10;
  top: 15%;
  left: 15.7%;
  .productlist-content{
    background-color: #FFFFFF;
    width: 380px;
    height: 562px;
    border-radius: 10px;
    .productlist-block{
      width: 300px;
      text-align: center;
      margin: 0 auto;
      h2{
        padding-top: 40px ;
        color: #181818;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 0.32px;
      }
      .productlist-card{
        display: flex;
        align-items: center;
        border: 1px solid #868889;
        border-radius: 10px;
        max-width: 284px;
        height: 60px;
        justify-content: flex-start;
        margin: 20px 0;
        img{
          margin: 9px 0 7px 12px;
        }
        p{
          margin-left: 20px;
          color: #181818;
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 0.2px;
        }

      }
    }
  }
}